{% extends 'base.html' %}

{% block header %}
  <h1 class="display-4 text-center mb-5">{% block title %}About us{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4>Generelt om banken:</h4>
<p>PCMR-Banking er en ledende nordisk bank, og har tilbudt banktjenester i mer enn 2 uker. <br>
  Vi har rundt 4 ansatte og tilbyr banktjenester i Norge og i Baltikum. <br>
  Driftsinntektene var 0 milliarder kroner i 2019, mens sum eiendeler utgjorde 0 milliarder kroner. </p>
<p>Don't understand norwegian? <br> <a href="https://translate.google.no/?hl=no" target="_blank">Try translating</a></p>
<h5>Møt våre ansatte:</h5>
<div class="row">
  <div class="card" style="width: 18rem;">
    <img src="https://miro.medium.com/max/824/1*N92WOKgBnKYcbXTB5EfFyA.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alexander Pedersen Halvorsen</h5>
      <p class="card-text">Går tredje semester datateknologi ved UiS. Fra Stavanger</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://miro.medium.com/max/824/1*N92WOKgBnKYcbXTB5EfFyA.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mads Henrik Tonheim</h5>
      <p class="card-text">Går tredje semester datateknologi ved UiS. Fra Florø</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://miro.medium.com/max/824/1*N92WOKgBnKYcbXTB5EfFyA.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Aleksander Vae Haaland</h5>
      <p class="card-text">Går tredje semester datateknologi ved UiS. Fra Etne</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://miro.medium.com/max/824/1*N92WOKgBnKYcbXTB5EfFyA.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Marcus Meihack Thompson</h5>
      <p class="card-text">Går tredje semester datateknologi ved UiS. Fra Stavanger</p>
    </div>
  </div>
</div>

{% endblock %}