{% extends "base.html" %}

{% block content %}
    <h1 class="display-5">Edit Account</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.AccountName.label }}<br>
            {{ form.AccountName(size=32) }}<br>
            {% for error in form.AccountName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.AccountType.label }}<br>
            {{ form.AccountType(size=1) }}<br>
            {% for error in form.AccountType.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}