{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.first_name.label(class_="form-label") }}<br>
                    {{ form.first_name(class_="form-control") }}<br>
                    {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.last_name.label(class_="form-label") }}<br>
                    {{ form.last_name(class_="form-control") }}<br>
                    {% for error in form.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.cellphone.label(class_="form-label") }}<br>
                    {{ form.cellphone(class_="form-control") }}<br>
                    {% for error in form.cellphone.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class_="btn btn-primary") }}</p>
            </form>
        </div>
    </div>
{% endblock %}