{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <h1 class="display-5">Two Factor Authentication Setup</h1>
    <hr>
    <p>You are almost done! Please start an OTP app like Google Authenticator on your smartphone and scan the following QR Code with it:</p>
    <p>If you haven't gotten it installed, download it here. <a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank">iPhone</a> | <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Android</a></p>
    <p><img id="qrcode" src="{{ url_for('qrcode', _external=True) }}"></p>
    <p>I'm done, take me to the <a href="{{ url_for('login') }}">Login</a> page!</p>
{% endblock %}
