{% extends 'base.html' %}

{% block header %}
  <h1 class="display-4 text-center mb-5">{% block title %}My profile{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row justify-content-between">
    {% if user.first_name %}
    <div class="col-md-6 float-left">
        <h5 class="display-6" style="font-size: 1.5rem;">Welcome <span style="text-transform: uppercase;">{{ user.last_name }}</span>, <span style="text-transform: uppercase;">{{ user.first_name }}</span></h5>
        {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LL') }}</p>{% endif %}
    </div>
    {% else %}
    <div class="col-md-6 float-left">
        <h5 class="display-6" style="font-size: 1.5rem;">Welcome, <span style="text-transform: uppercase;">{{ user.username }}</span></h5>
        {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
    </div>
    {% endif %}
    
    <div class="col-md-2 float-right">
        {% if user == current_user %}
        <a class="btn btn-danger" style="border-radius: 0.5rem;" id="MHsinKnapp4" role="button" data-toggle="modal" data-target="#deleteModal">Deactivate profile</a>
        <a class="btn btn-light mt-1" style="border-radius: 0.5rem;" id="MHsinKnapp" href="{{ url_for('edit_profile') }}" role="button">Edit profile</a>
        {% endif %}
    </div>
  </div>
    <hr class="my-3">
<div class="row justify-content-between">
    
    <form class="col-md-6 mx-auto" method="post">
        <figure class="figure">
          <img class="figure-img img-fluid rounded" src="{{ user.avatar(128) }}">
          <figcaption class="figure-caption">Profile picture provided by Gravatar. Change it <a href="https://gravatar.com">here</a></figcaption>
        </figure>
        <div class="mb-3">
            <label for="changeFirstName" class="form-label" >First Name</label>
            <input readonly type="text" class="form-control readonlyfc" id="changeFirstName" name="changeFirstName" placeholder="{{ user.first_name  }}">
        </div>
        <div class="mb-3">
            <label for="changeLastName" class="form-label" >Last Name</label>
            <input readonly type="text" class="form-control readonlyfc" id="changeLastName" name="changeLastName" placeholder="{{ user.last_name }}">
        </div>
        <div class="mb-3">
            <label for="changeEmailAddress" class="form-label">Email address</label>
            <input readonly type="email" class="form-control readonlyfc" name="changeEmailAddress" id="changeEmailAddress" aria-describedby="emailHelp" placeholder="{{ user.username }}">
        </div>
        <div class="mb-3">
            <label for="changeCellphone" class="form-label" >Cellphone</label>
            <input readonly type="tel" class="form-control readonlyfc" id="changeCellphone" name="changeCellphone" placeholder="{{ user.cellphone }}">
        </div>
    </form>
</div>


<!-- Delete User Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Deactivate User ?</h5>
          <button type="button" class="fas fa-times" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form role="form" id="deleteAcc" method="post">
              <p>Are you sure you want to deactivate your account?</p>
              <div class="mb-3">
                <label for="deleteEmail" class="form-label">Confirm your deactivation by typing in the email adresse associated with your account: </label>
                <input type="text" class="form-control" id="deleteEmail" name="deleteEmail" aria-describedby="deleteEmail">
                <div id="deleteEmailhelp" class="form-text">By confirming your account will be deactivated.</div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="deleteCheck" name="deleteCheck">
                <label class="form-check-label" for="deleteCheck">Deactivate this account</label>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" form="deleteAcc" class="btn btn-danger">Confirm</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
{% endblock %}